.table
  font-size: small
  border: 0
  tbody
    tr
      td.regexPattern

      td.dataCell
        padding: 4px
        vertical-align: middle
      td.editModal
        padding: 4px
        vertical-align: middle
        background-color: white
        border: 0

div.editModal
  button.remove
    padding-top: 7px
    padding-bottom: 7px

nav.tablePagination
  text-align: right
  ul.pagination
    margin-top: 0px
ul.nav-stacked ul.nav-stacked > li > a
  padding-left: 30px

.modal-header
  background-color: #337ab7
  color: white
#InputBar > form > div.btn-group > select
  padding-top: 7
  padding-bottom: 7
