.table
  font-size: small
  tbody
    tr
      td.dataCell
        padding: 4px
        vertical-align: middle
        a
          width: 100%
          display: block
nav.tablePagination
  text-align: right
  ul.pagination
    margin-top: 0px
